.contactable-title {
  border-bottom: 1px solid var(--line);
  padding: 1rem 0.625rem;
}

.contactable-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contactable-card {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
}

.contactable-card:hover {
  background-color: var(--background);
}

.contactable-card__contact {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
}

.contactable-icon {
  width: 20px;
  height: 19px;
  fill: var(--gray-50);
  stroke-width: 1;
  stroke: var(--gray-50);
}

.contactable-icon--active {
  fill: var(--black);
  stroke-width: 1;
  stroke: var(--black);
}

.contactable-card__image {
  height: 100%;
  width: 32px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.contactable-add-button {
  height: 56px;
  display: inline;
  display: flex;
  justify-content: flex-end;
}

.contactable-add-button__img {
  width: 56px;
  height: 100%;
  position: sticky;
}
