.home-header {
  padding: 0.875rem 0.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-header__title {
  font-weight: 400;
}

.home-logout-button {
  color: var(--blue);
  border: 0;
  background: white;
}
